USE [HebbraCoDbf]
GO
/****** Object:  Table [dbo].[BusinessUnit]    Script Date: 20/08/2016 18:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessUnit](
	[businessUnitId] [int] IDENTITY(1,1) NOT NULL,
	[businessUnitCode] [nchar](10) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[officeAddress1] [nvarchar](max) NOT NULL,
	[officeAddresss2] [nvarchar](max) NOT NULL,
	[officeAddress3] [nvarchar](max) NOT NULL,
	[officePostCode] [nchar](10) NOT NULL,
	[officeContact] [nvarchar](max) NOT NULL,
	[officePhone] [nvarchar](50) NOT NULL,
	[officeEmail] [nvarchar](50) NOT NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_dbo.BusinessUnit] PRIMARY KEY CLUSTERED 
(
	[businessUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 20/08/2016 18:16:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staffId] [int] IDENTITY(1,1) NOT NULL,
	[businessUnitId] [int] NOT NULL,
	[staffCode] [nvarchar](50) NOT NULL,
	[firstName] [nvarchar](max) NOT NULL,
	[middleName] [nvarchar](max) NOT NULL,
	[lastName] [nvarchar](max) NOT NULL,
	[dob] [date] NOT NULL,
	[startDate] [date] NOT NULL,
	[profile] [nvarchar](max) NULL,
	[emailAddress] [nvarchar](max) NOT NULL,
	[PhotoUrl] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Staff] PRIMARY KEY CLUSTERED 
(
	[staffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BusinessUnit] ON 

INSERT [dbo].[BusinessUnit] ([businessUnitId], [businessUnitCode], [title], [description], [officeAddress1], [officeAddresss2], [officeAddress3], [officePostCode], [officeContact], [officePhone], [officeEmail], [Active]) VALUES (1, N'SCM       ', N'School of Computing', N'School of Computing are at the forefront of current technology. Trying to predict future advances is both exciting and challenging. There has never been a more exciting time to study with us.', N'Grieg Building', N'Southfield Rd', N'Middlesbrough', N'TS10 2NT  ', N'Simon Stobart', N'01642344600', N'scm@tees.ac.uk', 1)
INSERT [dbo].[BusinessUnit] ([businessUnitId], [businessUnitCode], [title], [description], [officeAddress1], [officeAddresss2], [officeAddress3], [officePostCode], [officeContact], [officePhone], [officeEmail], [Active]) VALUES (2, N'TUBS      ', N'Business School', N'To act regionally, influence nationally, and think globally to lead the way with progressive, innovative and enterprising business education for the real world', N'1st Floor, Clarendon Building', N'On Campus', N'Middlesbrough', N'TS1 3BX   ', N'Paul Crawshaw', N'01642 342312 ', N'SSSBLReception@tees.ac.uk', 1)
SET IDENTITY_INSERT [dbo].[BusinessUnit] OFF
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([staffId], [businessUnitId], [staffCode], [firstName], [middleName], [lastName], [dob], [startDate], [profile], [emailAddress], [PhotoUrl], [Active]) VALUES (1, 1, N'u0000700', N'John', N'Jo', N'Smith', CAST(0x50EB0A00 AS Date), CAST(0x07240B00 AS Date), N'John is good at AI', N'j.smith@tees.ac.uk', N'url', 1)
INSERT [dbo].[Staff] ([staffId], [businessUnitId], [staffCode], [firstName], [middleName], [lastName], [dob], [startDate], [profile], [emailAddress], [PhotoUrl], [Active]) VALUES (2, 1, N'u0000702', N'Paul', N'Micheal', N'Brown', CAST(0x0CEE0A00 AS Date), CAST(0x68260B00 AS Date), N'Paul is good at Games', N'p.brown@tees.ac.uk', N'url', 1)
INSERT [dbo].[Staff] ([staffId], [businessUnitId], [staffCode], [firstName], [middleName], [lastName], [dob], [startDate], [profile], [emailAddress], [PhotoUrl], [Active]) VALUES (4, 1, N'u0000704', N'Jane', N'Lizy', N'Jones', CAST(0x92FA0A00 AS Date), CAST(0x23290B00 AS Date), N'Jane is a systems analyst', N'j.Jones', N'url', 1)
SET IDENTITY_INSERT [dbo].[Staff] OFF
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Staff_dbo.BusinessUnit_businessUnitId] FOREIGN KEY([businessUnitId])
REFERENCES [dbo].[BusinessUnit] ([businessUnitId])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_dbo.Staff_dbo.BusinessUnit_businessUnitId]
GO
