@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>An Answer to Task 4</h1>
    <p class="lead">This represents a basic solution to the problem defined by Part 1 Task 4 of the ICA.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>An Answer to Task 4</h2>
        <p>
            This represents a basic solution to the problem defined by Part 1 Task 4 of the ICA.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>