@model IEnumerable<Task4Start.SkillService.SkillsDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Government Skills</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("UK Gov Skill Code")
        </th>
        <th>
            @Html.DisplayName("Description")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.skillCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.skillDescription)
            </td>
        </tr>
    }

</table>